@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 400;
    src: url("./assets/fonts/als-hauss/als_hauss_regular.otf");
    color: #800080;
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 500;
    src: url("./assets/fonts/als-hauss/als_hauss_medium.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 700;
    src: url("./assets/fonts/als-hauss/als_hauss_bold.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 900;
    src: url("./assets/fonts/als-hauss/als_hauss_black.otf");
}

* {
    font-family: "ALS Hauss Variable";
    hyphens: auto;
}

html {
    background: linear-gradient(#f5f2f0, 90%, #fff);
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo-dark path {
    transition: 300ms;
    fill: #000;
}

.logo-light path {
    transition: 300ms;
    fill: #fff;
}

.header-scrolled {
    transition: 300ms;
    background: #ffffffaa;
    backdrop-filter: blur(10px);
}

.header-not-scrolled {
    transition: 300ms;
}

.grad {
    border-image: linear-gradient(45deg, #3D8BFF, #AB23FF) 1;
}

.svg-path-none path:first-child {
    fill: none;
    stroke: none;
}

.no-wrap {
    white-space: nowrap;
}

.animate-pop {
    animation: popUp 1s ease forwards;
}


@keyframes popUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-cursor {
    animation: cursorFloat 2s ease-in-out forwards;
}

@keyframes cursorFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}

.animate-cursor-around {
    animation: cursorMoveAround 300ms ease-in-out infinite;
}

@keyframes cursorMoveAround {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -10px);
    }

    50% {
        transform: translate(0px, -20px);
    }

    75% {
        transform: translate(-10px, -10px);
    }
}

.animate-cursor-smooth-you {
    animation: cursorSmoothMoveYou 3s forwards ease-in-out;
}

@keyframes cursorSmoothMoveYou {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(100px, 300px);
    }

    50% {
        transform: translate(80px, 200px);
    }

    75% {
        transform: translate(60px, 100px);
    }
}

.animate-cursor-smooth-we {
    animation: cursorSmoothMoveWe 3s forwards ease-in-out;
}

@keyframes cursorSmoothMoveWe {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-40px, 300px);
    }

    50% {
        transform: translate(-160px, 305px);
    }

    75% {
        transform: translate(-40px, 180px);
    }
}

@keyframes cursorSmoothMove {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -10px);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(10px, 10px);
    }
}