@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 400;
    src: url("./assets/fonts/als-hauss/als_hauss_regular.otf");
    color: #800080;
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 500;
    src: url("./assets/fonts/als-hauss/als_hauss_medium.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 700;
    src: url("./assets/fonts/als-hauss/als_hauss_bold.otf");
}

@font-face {
    font-family: "ALS Hauss Variable";
    font-weight: 900;
    src: url("./assets/fonts/als-hauss/als_hauss_black.otf");
}

* {
    font-family: "ALS Hauss Variable";
    hyphens: auto;
}

html {
    background: linear-gradient(#f5f2f0, 90%, #fff);
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo-dark path {
    transition: 300ms;
    fill: #000;
}

.logo-light path {
    transition: 300ms;
    fill: #fff;
}

.header-scrolled {
    transition: 300ms;
    background: #ffffffaa;
    backdrop-filter: blur(10px);
}

.header-not-scrolled {
    transition: 300ms;
}

.grad {
    border-image: linear-gradient(45deg, #3D8BFF, #AB23FF) 1;
}

.no-wrap {
    white-space: nowrap;
}

.animate-pop {
    animation: popUp 0.5s ease forwards;
}


@keyframes popUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}